apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointment-service
  namespace: san
spec:
  replicas: 1
  selector:
    matchLabels:
      app: appointment-service
  template:
    metadata:
      labels:
        app: appointment-service
    spec:
      containers:
        - name: appointment
          image: appointment-service:local
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8003"
            - name: KAFKA_BOOTSTRAP
              value: kafka.san.svc.cluster.local:9092
          ports:
            - containerPort: 8003
---
apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: san
spec:
  selector:
    app: appointment-service
  ports:
    - port: 8003
      targetPort: 8003


