apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: san
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth
          image: auth-service:local
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8001"
            - name: JWT_SECRET
              value: devsecret
            - name: POSTGRES_HOST
              value: postgres.san.svc.cluster.local
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: appdb
            - name: POSTGRES_USER
              value: app
            - name: POSTGRES_PASSWORD
              value: app
          ports:
            - containerPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: san
spec:
  selector:
    app: auth-service
  ports:
    - port: 8001
      targetPort: 8001


