apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: san
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: api-gateway:local
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8080"
            - name: ROUTE_CONFIG
              value: /usr/src/app/route-config.json
          volumeMounts:
            - name: route-config
              mountPath: /usr/src/app/route-config.json
              subPath: route-config.json
          ports:
            - containerPort: 8080
      volumes:
        - name: route-config
          configMap:
            name: gateway-route-config
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: san
spec:
  selector:
    app: gateway
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-route-config
  namespace: san
data:
  route-config.json: |
    {
      "routes": [
        { "path": "/auth", "target": "http://auth-service.san.svc.cluster.local:8001" },
        { "path": "/patients", "target": "http://patient-service.san.svc.cluster.local:8002" },
        { "path": "/appointments", "target": "http://appointment-service.san.svc.cluster.local:8003" }
      ]
    }


