apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: san
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification
          image: notification-service:local
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "9001"
            - name: KAFKA_BOOTSTRAP
              value: kafka.san.svc.cluster.local:9092
            - name: REDIS_URL
              value: redis://redis.san.svc.cluster.local:6379
          ports:
            - containerPort: 9001
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: san
spec:
  selector:
    app: notification-service
  ports:
    - port: 9001
      targetPort: 9001


