apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
  namespace: san
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      containers:
        - name: patient
          image: patient-service:local
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8002"
            - name: POSTGRES_HOST
              value: postgres.san.svc.cluster.local
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: appdb
            - name: POSTGRES_USER
              value: app
            - name: POSTGRES_PASSWORD
              value: app
            - name: KAFKA_BOOTSTRAP
              value: kafka.san.svc.cluster.local:9092
            - name: REDIS_HOST
              value: redis.san.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
          ports:
            - containerPort: 8002
---
apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: san
spec:
  selector:
    app: patient-service
  ports:
    - port: 8002
      targetPort: 8002


